.container{
  margin: 20px;
}
header{
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;  

}
h3{
  color: white;
}
ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
img{
  height: 50px;
  width: 50px;
}
.container > main > div:nth-child(1) > img{
  height: 150px;
  width: 250px;
}
main{
  display: flex;
  gap: 10px;
}
.container > main > div:nth-child(2) > img{
  height: 150px;
  width: 250px;
}
.container > main > div:nth-child(3) > img{
  height: 150px;
  width: 250px;
}
.card{
  border: solid;
  border-color: yellowgreen;
  padding: 10px;
}
a{
  text-decoration: none;
  color: white;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright{
  color: white;
  text-align: center;
  justify-content: center;
}
footer{
  background-color: yellowgreen;
}
